<div class="container">
  <%= form_with model: question do |f| %>
    <div class="field tex_ignore">
      <%= f.label :content %>
      <%= f.rich_text_area :content, id: 'input_field' %>
    </div>
    <div>
      <%= f.label :answer_file %>
      <%= f.file_field :answer_file %>
    </div>
    <div>
      <%#= f.hidden_field :picture, id: "geogebra_base64" %>
      <%= f.hidden_field :picture, id: "geogebra_base64", data: { geogebra_base64: question.picture } %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  <div class="preview_field">
    <p class="preview_title">プレビュー</p>
    <div class="preview_display">
      <%= question.content %>
    </div>
  </div>
</div>
<div>
  <%= form_with model: question, url: compile_question_path(question), method: :post, local: false do |f| %>
    <pre>
      <%= f.label :tikz %>
      <!-- <div id="tikz_container"> -->
        <%= f.text_area :tikz, id: "textarea" %>
        <div id="background_textarea"></div>
      <!-- </div> -->
    </pre>
    <div>
      <%= f.submit "コンパイル" %>
    </div>
  <% end %>
  <div id="compile_result"></div>
</div >

<!-- モーダルを表示するボタン -->
<%= link_to "geogebraを作成する", edit_questions_picture_path(question), id:"open_geogebra" ,class:"btn btn-primary", data: {bs_toggle: "modal", bs_target: "#geogebraModal"} %>

<!-- Modal -->
<div class="modal fade" id="geogebraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-body">
              <div id="ggb-element"></div>
            </div>
            <div class="modal-footer">
              <input id="save_geogebra_button" type="button" value="保存" >
              <input id="load_geogebra_button" type="button" value="ロード" >
              <input id="refresh_geogebra_button" type="button" value="clear" >
              <input id="alert_geogebra_button" type="button" value="alert" >
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- texのコメントアウト機能 -->
<script>
  //function strIns(str, idx, val){
  //  var res = str.slice(0, idx) + val + str.slice(idx);
  //  return res;
  //};

  var textArea = document.getElementById("textarea");

  $("#textarea").on("input", function(){
    //textareaの高さ自動調整
    var clientHeight = textArea.clientHeight;
    textArea.style.height = clientHeight + 'px';
    //textareaの入力内容の高さを取得
    var scrollHeight = textArea.scrollHeight;
    //textareaの高さに入力内容の高さを設定
    textArea.style.height = scrollHeight + 'px';

    //コメントアウト機能
    //var spanNode = document.createElement('span');
    //var text = textArea.value;
    //var startPosition = text.indexOf("%");
    //if (startPosition >= 0) {
      //endPosition = text.indexOf("\n", startPosition);
      //text = strIns(text, endPosition, "</span></span>");
      //text = strIns(text, startPosition, '<span class="visible"><span class="hidden">');
    //}
    //html = text.replace(/\r\n|\r|\n/g, '<br>');
    //console.log("始点"+startPosition);
    //console.log("終点"+endPosition);
    //console.log(html);
    //$("#background_textarea").html(html);
  });
</script>